.wrapper{
  //TODO посмотреть на большом монике на сколько ограничивать
  // max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.cell {
  position: relative;
  background-size: cover;

  &:first-child {
    margin-bottom: 8px;
  }

  @media (max-width: 640px) {
    width: 100%;
    aspect-ratio: 1/1;
    margin-bottom: 8px;
  }
}

.plug {
  & div {
    @media (min-width: 640px) {
     margin-bottom: 4px;
    }
  }
}

.net {
    display: flex;
    flex-direction: column;
    max-width: 100%;

  @media (min-width: 640px) {
    display: grid;
    max-width: calc(100% - 16px);
    width: 100%;
    height: 100%;
  }

  & div {
    @media (min-width: 640px) {
      column-gap: 8px;
      box-sizing: border-box;
    }
  }

  &_first { 
    @media (min-width: 640px) {
      display: grid;
      grid-template-columns: 42% 29% 29%;
      aspect-ratio: 1392/620;
      grid-template-rows: 100%;
    }
    & > * + * {
      margin-bottom: 8px;
    }
  }

  &_second {
    @media (min-width: 640px) {
      display: grid;
      grid-template-columns: calc(42%/2 - 8px) calc(42%/2) 29% 29%;
      aspect-ratio: 1392/260;
      grid-template-rows: 100%;
    }
    & > * + * {
      margin-bottom: 8px;
    }
  }

  &_third {
    @media (min-width: 640px) {
      display: grid;
      grid-template-columns: 29% 29% 42%;
      aspect-ratio: 1392/620;
      grid-template-rows: 100%;
    }
    & > * + * {
      margin-bottom: 8px;
    }
  }

}