.wrapper {
  //TODO посмотреть на большом монике на сколько ограничивать
  max-width: 1200px;
  width: 100%;
  margin: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.cell {
  position: relative;
  background-size: cover;

  &:first-child {
    margin-bottom: 8px;
  }

  @media (max-width: 640px) {
    width: 100%;
    aspect-ratio: 1/1;
    margin-bottom: 8px;
  }
  &:hover {
    transition: 1s;
    transform: scale(.95)!important;

    img {
      transition: 1s;
      transform: scale(1.2);
    }
  }
}

.plug {
  & div {
    @media (min-width: 640px) {
      margin-bottom: 4px;
    }
  }
}

.scroll {
  overflow: hidden;
}

.net {
  display: flex;
  flex-direction: column;
  max-width: 100%;

  @media (min-width: 640px) {
    display: grid;
    max-width: calc(100% - 16px);
    width: 100%;
    height: 100%;
  }

  & div {
    @media (min-width: 640px) {
      column-gap: 8px;
      box-sizing: border-box;
      width: 100%;
    }
  }

  &_first {
    @media (min-width: 640px) {
      display: grid;
      grid-template-columns: 42% 29% 29%;
      aspect-ratio: 1392/620;
      grid-template-rows: 100%;
    }

    & > * + * {
      margin-bottom: 8px;
    }
  }

  &_second {
    @media (min-width: 640px) {
      display: grid;
      grid-template-columns: calc(42% / 2 - 8px) calc(42% / 2) 29% 29%;
      aspect-ratio: 1392/260;
      grid-template-rows: 100%;
    }

    & > * + * {
      margin-bottom: 8px;
    }
  }

  &_third {
    @media (min-width: 640px) {
      display: grid;
      grid-template-columns: 29% 29% 42%;
      aspect-ratio: 1392/620;
      grid-template-rows: 100%;
    }

    & > * + * {
      margin-bottom: 8px;
    }
  }

}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  width: 100%;

  &_fon {
    position: absolute;
    top:0;
    background: #fff;
    width: 100%;
    height: 72px;
  }


  &_refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }


  &_background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }


  &_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    position: absolute;
    top: 18px;
    right: 14px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;

    @media (max-width: 640px) {
      svg {
        width: 2rem;
        height: 2rem;
      }
    }
  }


  &_list {
    padding: 25px;
    position: absolute;
    top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &_item {
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;

    @media (max-width: 640px) {
      a {
        font-size: 1.5rem;
      }
    }
  }
}


@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%, 60% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.animated-title {
  color: #222;
  font-family: Roboto, Arial, sans-serif;
  height: 100%;
  position: absolute;
  width: 60%;
}

.animated-title > div {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.animated-title > div div {
  font-size: 44px;
  line-height: 40px;
  padding: 8px 0;
  position: absolute;
}

.animated-title > div div span {
  display: block;
}

.animated-title > div.text-top {
  border-bottom: 2px solid #000;
  top: 0;
}

.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}

.animated-title > div.text-top div span:first-child {
  color: #805AD5;
}

.animated-title > div.text-bottom {
  bottom: 0;
}

.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

.modal {
  position: relative;

  @media (max-width: 640px) {
    display: flex;
    justify-content: center;
    max-width: 100% !important;
    height: 100%;
    margin: 0 !important;
    padding: 80px 0;
  }

  &_input {
    border: 1px solid #805AD5 !important;
    border-radius: 0.375rem;

    @media (max-width: 640px) {
      font-size: 1.5rem !important;
      height: 4rem !important;
      border: 2px solid #805AD5 !important;
    }
  }

  &_header {
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    height: 100px;
    transform: rotate(-2deg);
    margin-bottom: 16px;

    @media (max-width: 640px) {
      margin-bottom: 60px;
    }
  }

  &_close {
    @media (max-width: 640px) {
      width: 4rem !important;
      top: 1.5rem !important;
      right: 1rem !important;

      svg {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  &_footer-btn {
    margin: 0 !important;
    width: 40%;

    @media (max-width: 640px) {
      width: 100%;
      height: 3.5rem !important;
      font-size: 1.5rem !important;
    }

  }

}

.carousel {

  &_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 28px;
    background: #3F3EC2;
    color: #fff;
    aspect-ratio: 1/1;
  }

  &_title {
    font-weight: 800;
  }
}

.footer {
  padding-bottom: 160px;

  @media (max-width: 640px) {
    padding-bottom: 100px;
  }

}

.service {
  padding: 40px 24px;

  &_item {
    position: relative;
    display: block;
    text-transform: uppercase;
    animation: fadeIn 0.5s linear;
    animation-fill-mode: both;
  }

  &_description {
    position: relative;
    padding: 24px;
    padding-bottom: 60px;
    background: #3F3EC2;
    color: #fff;
    z-index: 2;
    margin-bottom: 60px;

   /* &::before {
      content: '';
      position: absolute;
      display:block;
      left:-5%;
      top:-20px;
      width:110%;
      height: 40px;
      transform: rotate(-2deg);
      background: #fff;
    }*/

    &::after {
      content: '';
      position: absolute;
      display:block;
      left:-5%;
      bottom:-20px;
      width:110%;
      height: 40px;
      transform: rotate(-2deg);
      background: #fff;
    }
  }

  &_section {
    display: flex;
    flex-direction: column;

    &-block {
      display: flex;
      justify-content: space-between;
    }

    &-list {
      flex: 50%
    }

    &-img {
      display: flex;
      flex: 50%;
      background: #805AD5;
    }
  }
}

// Keyframe animation
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  75% {
    opacity: 0.5;
    top: 0px;
  }
  100% {
    opacity: 1;
  }
}